
body {
  padding: 7% 10%;
  background-color:#000000;

}

h1{
  font-size: 80px;
  text-align: center;
  color: #DC143C;
  font-family: 'Rubik Bubbles', cursive;


}

img {
  width: 80%;
}

.container{
  width: 70%;
  margin: auto;
  text-align: center;



}

.player1{
  display: inline-block;
  text-align: center;
  width: 40%;
  color: #fff;
  font-family: 'Carter One', cursive;


}

.player2{
  display: inline-block;
  text-align: center;
  width: 40%;
  color: #fff;
  font-family: 'Carter One', cursive;



}

.footer {
  margin-top: 120px;
  text-align: center;


}
